<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Jackson Wang</title>
	<link rel="icon" href="images/Erik_Satie.png">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<!-- Header section -->
	<header>
		<img src="image/3.jpg">
		<h1>Jackson Wang</h1>
	</header>

	<!-- Main section -->
	<main>
		<h2>About Jackson</h2>
		<p>Jackson Wang (Chinese: 王嘉爾; Korean: 왕잭슨; born 28 March 1994) is a Hong Kong rapper, singer, fashion designer and dancer based in China. He is the founder of record label Team Wang, and is the creative director and lead designer for fashion brand Team Wang Design. He is active in mainland China as a solo artist and television host. He is a member of the South Korean boy group Got7, and also a member of the Chinese hip hop group Panthepack.
		Born and raised in Hong Kong, Wang was a sabre fencer for Hong Kong's fencing team. He was ranked eleventh in the 2010 Summer Youth Olympics,[5] and won first place at the Asian Junior and Cadet Fencing Championships in 2011. After passing a music audition, he moved to Seoul, South Korea in July 2011 to pursue a career in K-pop. In January 2014, after over two years of training, Wang debuted as a member of Got7 with the single "Girls Girls Girls".</p>
		<img src="image/111.png">
		<p class="caption">Painting of Erik Satie playing the pump organ.</p>

		<!-- Facts -->
		<h2>Life and career about Jackson</h2>
		<ul>
			<li>Debuted as a member of GOT7 in 2014.</li>
			<li>On January 11, 2021, JYP announced that the group GOT7's contract had expired and would not be renewed; on January 14, Jackson contract returned to TEAMWANG to continue developing his global career.</li>
			<li> Jackson is proficient in a number of languages; he can fluently speak and understand Mandarin, Cantonese, Korean and English.</li>
		</ul>

		<!-- Compositions -->
		<h2>Jackson's representative work</h2>
		<li>Song: 《Papillon》，《LMLY》, 《Okay》, 《Dawn of Us》</li>
		<li>Show：《Fresh Sunday》,《Star King》、《Law of the Jungle》、《Happy Together》、《Radio Star》</li>
		<ol>
			<li><a href="https://youtu.be/kYU-rE1eM-w" target="_blank">Gnossienne No.1</a></li>
			<li><a href="https://youtu.be/Yl7fK23F5QU" target="_blank">Gymnopedie No.1</a></li>
			<li><a href="https://youtu.be/yxY5NCPxs8A" target="_blank">Gnossienne No.3</a></li>		
		</ol></a>
	</main>

	<!-- Footer section -->
	<footer>
		<p>Demo site for the Web Development exercise for the <a href="https://courses.warwick.ac.uk/modules/2021/WM9A4-15" target="_blank">Digital Development with Python</a> module.</p>
	</footer>
</body>
</html>